* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, tr, td {
  border-collapse: collapse;
  padding: 10px 10px;
  color: rgb(231, 252, 255);
  font-size: 20px;
  font-weight: 700;
}

select {
  padding: 10px;
}

input.search {
  padding: 10px;
}

.bg-green {
  color: rgb(0 255 0);
}

.bg-green-light {
  color: rgb(174 255 174);
}

.bg-green-lighter {
  color: rgb(108 255 108);
}

.bg-green-lightest {
  color: rgb(197 255 199);
}

@media only screen and (max-width: 700px) {
  .hide-small {
      display: none;
  }
}

.full-button{
  height: 40px;
}

.single .title {
  color: #B68D40
}

.single table {
  border-radius: 5px;
  background: #122620
}

.single  th {
  color: #f3d49a
}

.single th{
  text-align: left;
  padding: 10px 15px;
}

.single td {
  border: none;
  padding: 5px 15px;
}

.single tr:last-child td {
  padding-bottom: 15px;
}

.single table {
  background-size: 100px;
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}

.single td:nth-child(2) {
  font-weight: bold;
}

.single {
  color: #F4EBD0;
}

.single table, .single tr, .single td {
  border: none;
  padding: 10px;
}

table {
  background-image: url(./logo.png);
  background-repeat: space;
  background-blend-mode: saturation;
  background-size: contain;
  background-position: right center;
  background-color: rgb(1, 57, 66);

}

.note {
  max-width: 30rem;
  background-color: rgb(33 108 119);
  color: white;
  line-height: 1.7;
  font-size: 17px;
  padding: 10px 30px;
  text-align: center;
  background-image: url(./logo.png);
  text-shadow: rgb(41, 82, 82) 1px 2px;
  background-blend-mode: saturation;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.note h2 {
  border-bottom: 1px solid #0d5a5a;
  box-shadow: 0px 1px #1f9292;

 
}

.note p {
  font-size: 20px;
  padding: 0 40px;
}