* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, tr, td {
  border-collapse: collapse;
  padding: 10px 10px;
  color: rgb(231, 252, 255);
  font-size: 20px;
  font-weight: 700;
}

select {
  padding: 10px;
}

input.search {
  padding: 10px;
}

.bg-green {
  color: rgb(0 255 0);
}

.bg-green-light {
  color: rgb(174 255 174);
}

.bg-green-lighter {
  color: rgb(108 255 108);
}

.bg-green-lightest {
  color: rgb(197 255 199);
}

@media only screen and (max-width: 700px) {
  .hide-small {
      display: none;
  }
}

.full-button{
  height: 40px;
}



table {
  background-image: url(./logo.png);
  background-repeat: space;
  background-blend-mode: saturation;
  background-size: contain;
  background-position: center;
  background-color: rgb(1, 57, 66);
}

.note {
  max-width: 97%;
  background-color: rgb(33 108 119);
  color: white;
  line-height: 1.7;
  font-size: 48px;
  padding: 10px 30px;
  text-align: center;
  background-image: url(./logo.png);
  text-shadow: rgb(41, 82, 82) 1px 2px;
  background-blend-mode: saturation;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.note h2 {
  border-bottom: 1px solid #0d5a5a;
  box-shadow: 0px 1px #1f9292;
}

.note p {
  font-size: 48px;
  padding: 0 40px;
}

.single-company td {
  font-size: 24px;
}

.single-company {
  background-color: rgb(1, 57, 66);
  color: rgb(236, 236, 236);
  padding: 20px;
  padding-bottom: 40px;
  max-width: 48rem;
}

.single-company ul {
  list-style: none;
  line-height: 1.7;;
} 

.single-company td:nth-child(1) {
  text-align: right;
}

.single-company h2{
  border-bottom: 1px solid rgb(19, 68, 71);
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 48px;
  max-width: 48em;
}

.single-company  p{
  margin:0;
  padding-bottom: 10px;
}

.single-company table tr td:nth-child(1) {
  color: rgb(201, 201, 201);
}

.single-company table {
  margin: 0 auto;
}


.text-center{
  text-align: center;
}

.list-table {
  display: inline-block;
  max-width: min-content;
  background-color: rgb(1, 57, 66);
  padding: 0 0 30px 0;
}


.quote {
  color: rgb(241, 255, 241);
  font-size: 24px;
  text-align: center;
  padding: 10px 30px;
  border-top: 1px solid #0000002b;
}


.list-table a {
  text-decoration: none;
  color: white;
}

.table-heading {
  padding: 24px;
  font-size: 36px;
  color: #93ff93a6;
}